USE [swp]
GO
/****** Object:  Table [dbo].[post]    Script Date: 10/10/2022 11:19:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[post](
	[post_id] [int] IDENTITY(1,1) NOT NULL,
	[post_title] [nvarchar](50) NOT NULL,
	[content1] [nvarchar](1000) NOT NULL,
	[content2] [nvarchar](2000) NOT NULL,
	[img] [ntext] NULL,
	[post_date] [date] NULL,
 CONSTRAINT [PK_blog] PRIMARY KEY CLUSTERED 
(
	[post_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[post] ON 

INSERT [dbo].[post] ([post_id], [post_title], [content1], [content2], [img], [post_date]) VALUES (3, N'test title', N'test content 1', N'test content 2', N'adu/vi.img', CAST(N'2001-10-07' AS Date))
SET IDENTITY_INSERT [dbo].[post] OFF
GO
