<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>DemoServlet</servlet-name>
        <servlet-class>Controller.DemoServlet</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ViewDetailPost</servlet-name>
        <servlet-class>Controller.Staff.ViewDetailPost</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>ListOfPostPaginaged</servlet-name>
        <servlet-class>Controller.Staff.ListOfPostPaginaged</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>DemoServlet</servlet-name>
        <url-pattern>/DemoServlet</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ViewDetailPost</servlet-name>
        <url-pattern>/ViewDetailPost</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>ListOfPostPaginaged</servlet-name>
        <url-pattern>/ListOfPostPaginaged</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
    <welcome-file-list>
        <welcome-file>home</welcome-file>
    </welcome-file-list>
</web-app>
